* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(Background.jpg);
}

header {
    margin: 20px auto;
    text-align: center;
}

#field {
    width: 800px;
    height: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.card {
    position: relative;
    margin: 5px;
    border: 1px solid black;
    border-radius: 7px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: 0.5s;
}

.card:active {
    transform: scale(0.97);
    transition: .5s;
}

.card.flip {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.front {
    transform: rotateY(180deg);
}

#score-board {
    display: flex;
    margin: 10px auto;
    justify-content: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

style button: button {
    display: flex;
    border-radius: 50%;
    background-color: green;
}

button:hover {
    background-color: red;
}

/*responsive layout
phone screen layout*/
@media screen and (max-width: 480px) {

    #field {
        width: 310px;
        height: 310px;
    }

    button {
        padding: 20px;
        margin: 0 29px;
    }

    .card {
        margin: 2px;
    }
}

/*tablet screen layout*/
@media screen and (min-width: 481px) and (max-width: 768px) {

    #field {
        width: 475px;
        height: 475px;
    }

    table {
        margin: 0 -85px;
    }

    button {
        padding: 20px;
        margin: 0 113px;
    }
}

/*laptop screen layout*/
@media screen and (min-width: 769px) and (max-width: 1024px) {

    #field {
        width: 730px;
        height: 730px;
    }

    table {
        margin: 0 -85px;
    }

    button {
        padding: 20px;
        margin: 0 240px;
    }
}

/*desktop screen layout*/
@media screen and (min-width: 1025px) and (max-width: 1200px) {

    table {
        margin: 0 -88px;
    }

    button {
        padding: 20px;
        margin: 0 277px;
    }
}

/*tv screen layout*/
@media screen and (min-width: 1201px) {

    table {
        margin: 0 -88px;
    }

    button {
        padding: 20px;
        margin: 0 276px;
    }
}