@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Open+Sans:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(../images/Background.jpg);
    background-size: cover;
}

header {
    margin: 20px auto;
    text-align: center;
}

h1 {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 400%;
    letter-spacing: 1px;
}

p,
table {
    font-family: 'Open Sans', serif;
}

#field {
    width: 800px;
    height: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.card {
    position: relative;
    margin: 5px;
    border: 1px solid black;
    border-radius: 7px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: 0.5s;
}

.card:active {
    transform: scale(0.97);
    transition: .5s;
}

.card.flip {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.front {
    transform: rotateY(180deg);
}

#scoreboard {
    display: flex;
    margin: 10px auto;
    justify-content: center;
}

table {
    margin: 0 -96px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

p,
table {
    font-size: 100%;
    letter-spacing: 1px;
}

button {
    background-color: #E9AB37;
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    margin: 0 263px;
    font-size: 20px;
    color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Bubblegum Sans', cursive;
    letter-spacing: 1px;
}

button:before {
    content: "";
    position: absolute;
    top: -100%;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: rotate(45deg);
    transition: all 0.3s ease;
}

button:hover:before {
    top: 0;
    left: 0;
}

/*responsive layout
phone screen layout*/
@media screen and (max-width: 480px) {

    h1 {
        font-size: 200%;
        letter-spacing: 1px;
    }

    p,
    table {
        font-size: 60%;
        letter-spacing: 1px;
    }

    #field {
        width: 310px;
        height: 310px;
    }

    table {
        margin: 0;
    }

    button {
        margin-left: 0;
        margin-right: 90px;
    }

    .card {
        margin: 2px;
    }
}

/*tablet screen layout*/
@media screen and (min-width: 481px) and (max-width: 768px) {

    h1 {
        font-size: 240%;
        letter-spacing: 1px;
    }

    p,
    table {
        font-size: 90%;
        letter-spacing: 1px;
    }

    #field {
        width: 475px;
        height: 475px;
    }

    table {
        margin: 0 -85px;
    }

    button {
        margin: 0 106px;
    }
}

/*laptop screen layout*/
@media screen and (min-width: 769px) and (max-width: 1024px) {

    h1 {
        font-size: 365%;
        letter-spacing: 1px;
    }

    p,
    table {
        font-size: 100%;
        letter-spacing: 1px;
    }

    #field {
        width: 730px;
        height: 730px;
    }

    button {
        margin: 0 228px;
    }
}